<!-- info section -->
<section class="info_section layout_padding-top">
  <!-- <div class="info_logo-box">
    <h2>MyDyno</h2>
  </div> -->

  <div class="container layout_padding2">
    <div class="row">

      <div class="col-md-3">
        <h5>About Us</h5>
        <p>No idea.</p>
      </div>

      <div class="col-md-3">
        <h5>Useful Link</h5>
        <ul>
          <li><a href="/novelcovid"><img src="../assets/main/images/icons8-corona-64.png" height="20" width="20" alt=""> Novelcovid</a></li>
          <li><a href="/chat"><img src="../assets/main/images/icons8-chat-64.png" height="20" width="20" alt=""> Chat</a></li>
          <li><a href="/discord"><img src="../assets/main/images/icons8-discord-64.png" height="20" width="20" alt=""> Discord</a></li>
          <li><a href="/account/profile"><img src="../assets/main/images/icons8-settings-64.png" height="20" width="20" alt=""> Profile</a></li>
        </ul>
      </div>

      <div class="col-md-3">
        <h5>Contact Us</h5>
        <p>
          <img src="../assets/main/images/icons8-gmail-64_color.png" height="25" width="25" alt=""> <%= config.email %>
          <img src="../assets/main/images/icons8-gmail-64_color.png" height="25" width="25" alt=""> <%= config.email2 %>
        </p>
      </div>

      <div class="col-md-3">
        <div class="subscribe_container">
          <h5>Newsletter</h5>
          <div class="form_container">
            <form id="newsletterForm" method="POST" action="/newsletterSUB">
              <input type="email" name="subEmail" placeholder="Enter your email" required>
              <button type="submit">Subscribe</button>
            </form>
            <script>
              document.getElementById('newsletterForm')
              .addEventListener('submit', () => {
                alert('Thank you for subscribing to our newletter. We will keep your updated!')
              })
            </script>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="container">
    <div class="social_container">
      <div class="social-box">
        <a href="/redirect/github"><img src="../assets/main/images/icons8-github-64.png" alt=""></a>
        <a href="/redirect/discord"><img src="../assets/main/images/icons8-discord-64.png" alt=""></a>
        <a href="mailto:<%= config.email %>"><img src="../assets/main/images/icons8-gmail-64.png" alt=""></a>
      </div>
    </div>
  </div>
</section>

<!-- end info section -->
<!-- footer section -->
<section class="container-fluid footer_section">
  <p>Copyright &copy 2022 MyDyno</p>
</section>
<!-- footer section -->