<div>

    <div class="text-center p-3">

        <h1 style="font-family: 'Times New Roman', Times, serif;">Nothing is here!</h1>

        <br><br>

        <% if(req.session.isAuth){ %>

        <h3 style="font-family: 'Times New Roman', Times, serif;">You are logged in as "<%= req.session.username %>"</h3>
        
        <a class="btn btn-success" href="/discord">Discord</a>
        <a class="btn btn-success" href="/chat">Chat</a>
        <a class="btn btn-success" href="/novelcovid">Novel Covid</a>
        <a class="btn btn-success" href="/account/settings">Settings</a>

        <% }else{ %>

        <h3 style="font-family: 'Times New Roman', Times, serif;">You are not logged in</h3>

        <a class="btn btn-success" href="/account/login">Login</a>
        <a class="btn btn-success" href="/account/register">Register</a>

        <% } %>

        <br><br><br>

        <h1 style="font-family: 'Times New Roman', Times, serif;">Developed by Raunak Raj!</h1>

        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

    </div>

</div>
    