<!-- header section strats -->
<header class="header_section">
  <div class="container-fluid">
    <nav class="navbar navbar-expand-lg custom_nav-container">
      <a class="navbar-brand" href="/">
        <span>
          MyDyno
        </span>
      </a>

      <div class="navbar-collapse" id="">

        <div class="custom_menu-btn">
          <button onclick="openNav()">
            <span style="background-color: #8547ca;" class="s-1"> </span>
            <span style="background-color: #8547ca;" class="s-2"> </span>
            <span style="background-color: #8547ca;" class="s-3"> </span>
          </button>
        </div>

        <div id="myNav" class="overlay">
          <div class="overlay-content">

              <a href="/">Home</a>
              <a href="/chat">Chat</a>
              <a href="/discord">Discord</a>
              <a href="/novelcovid">Novel Covid</a>
              <a href="/account/profile">Profile</a>

              <br>
              <a href="/terms-of-service">Terms of Service</a>
              <a href="/privacy-policy">Privacy Policy</a>

                <% if(req.session.isAuth){ %>

                    <br><br>
                    <form id="logout" method="POST" action="/account/logout"></form>
                    <a href="javascript:{}" onclick="document.getElementById('logout').submit()">Logout</a>

                <% } else{ %>

                  <br><br>
                  <a href="/account/login">Login</a>
                  <a href="/account/register">Register</a>

                <% } %>

          </div>

        </div>
      </div>
    </nav>
  </div>
</header>
<!-- end header section -->

<script>
  function openNav() {
    document.getElementById("myNav").classList.toggle("menu_width");
    document
      .querySelector(".custom_menu-btn")
      .classList.toggle("menu_btn-style");
  }
</script>