<!DOCTYPE html>
<html>
<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>MyDyno</title>

    <!-- slider stylesheet -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="../assets/main/css/bootstrap.css" />

    <!-- fonts style -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:400,700|Raleway:400,700&display=swap" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="../assets/main/css/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="../assets/main/css/responsive.css" rel="stylesheet" />
    <link rel="icon" href="../assets/icon.png">
</head>

<body>
    <div class="hero_area">

        <%- include('./_nav.ejs') %>

        <!-- slider section -->
        <section class=" slider_section position-relative">
            <div class="container">
                <div class="row">

                    <div class="col-md-7">

                        <div class="detail-box">
                            <h2>Under Development!</h2>
                            <h1>MyDyno</h1>

                            <div>
                                <% if(req.session.isAuth){ %>
                                    <a href="/chat">Chat</a>
                                    <a href="/discord">Discord</a>
                                <% } else{ %>
                                    <a href="/account/login">Login</a>
                                    <a href="/account/register">Register</a>
                                <% } %>
                            </div>
                        </div>

                    </div>

                    <div class="col-md-5">
                        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <div class="img-box">
                                        <img src="../assets/right_side_icon.png" alt="" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
          </div>
        </section>
        <!-- end slider section -->
    
        <%- include('./_footer.ejs') %>

    </div>    
</body>

<script type="text/javascript" src="../assets/main/js/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="../assets/main/js/bootstrap.js"></script>

</html>