<div class="container">

    <h1 class="mb-4">Novel Covid</h1>

    <div class="card mt-4">
        <div class= "card-body">
            <div class="card-text mb-2">
                <% data.forEach((data) => { %>
                    <b><%= data.name %>:</b> <%= data.value %>
                    <hr>
                <% }) %>
            </div>
        </div>
    </div>
</div>